<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966423771761-l2p1e8qv8ju9gt39uat50j1ubc7ua0fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966423771761-l2p1e8qv8ju9gt39uat50j1ubc7ua0fp</string>
	<key>API_KEY</key>
	<string>AIzaSyAb95_l8oZGGqu3zhEBycsXGvAQYayEprA</string>
	<key>GCM_SENDER_ID</key>
	<string>966423771761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.skim.swiftChatting</string>
	<key>PROJECT_ID</key>
	<string>swiftchatting-d8801</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftchatting-d8801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966423771761:ios:7c0bf3d7d00d2156</string>
	<key>DATABASE_URL</key>
	<string>https://swiftchatting-d8801.firebaseio.com</string>
</dict>
</plist>